<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<title>Can I Use</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/custom/styles.css">
	</head>
	<body>
        <div id="wrapper">

			<header>
				<ul>
					<li><a href="javascript:void(0)">Home</a></li>
					<li><a href="javascript:void(0)">News</a></li>
				</ul>				
				<span>July 6, 2021 -</span>
				<a id="feature" href="feature">New Feature: Temporal</a>				
				<ul>
					<li><a href="javascript:void(0)">Compare browsers</a></li>
					<li><a href="javascript:void(0)">About</a></li>
				</ul>
			</header>				

			<div id="search_container" >
				<h1>Can I use</h1>
				<form action="/action_page.php">
					<input type="text" name="search" value="">					
				</form>
				<span>?</span>
			</div>
					
			<section>
				<button type="button" id="hashtag">#</button>
				<button type="button" id="star">☆</button>
				<header>
					<h2>ECMAScript 2015 (ES6)</h2>
					<p>Support for the ECMAScript 2015 specification. Features include Promises, Modules, Classes, Template Literals, Arrow Functions, Let and Const, Default Parameters, Generators, Destructuring Assignment, Rest & Spread, Map/Set & WeakMap/Weak/Set and many more.</p>
					<span>Usage</span>
					<span>Global</span>
					<div class="user_section">					
						<form action="/action_page.php">	
							<label for="users">% of</label>					
							<select id="users" name="name" size="1" multiple>
							  <option>all user</option>
							  <option>Denver</option>
							  <option>April</option>
							  <option>Aviea</option>
							</select>						
						  </form>
						<span>?</span>
						<span id="percentage">95.1% + 3% = 98.1%</span>
					</div>
					<ul id= "tab_section">
						<li><a href="#">Current aligned</a></li>
						<li><a href="#">Usage relative</a></li>
						<li><a href="#">Date relative</a></li>
						<li><a href="#">Filtered</a></li>
						<li><a href="#">All</a></li>
					</ul>
				</header>
				<div class="table">
					<ul>
						<li id="if">If</li>
						<li id="edge">Edge</li>	
						<li id="firefox">Firefox</li>
						<li id="chrome">Chrome</li>
						<li id="safari">Safari</li>
						<li id="opera">Opera</li>
						<li id="safari_on_ios">Safari on iOS</li>
						<li id="opera_mini">Opera Mini</li>
						<li id="android_browser">Android Browser</li>
						<li id="opera_mobile">Opera Mobile</li>
						<li id="chrome_for_android">Chrome for Android</li>
						<li id="firefox_for_android">Firefox for Android</li>
						<li id="uc_browser">UC Browser for Android</li>
						<li id="samsung_internet">Samsung Internet</li>
						<li id="qq_browser">QQ Browser</li>
						<li id="baidu_browser">Baidu Browser</li>
						<li id="kaios_browser">KaiOS Browser</li>
					</ul>
					<ul>
						<li></li>
						<li class="darkgreen">12-14</li>
						<li class="red">2-5</li>
						<li class="red">4-20</li>
						<li class="red">3.1-7</li>
						<li class="red">10-12.1</li>
						<li class="red">3.2-6.1</li>
					</ul>
					<ul>
						<li></li>
						<li class="green">15.18</li>
						<li class="darkgreen">6-53</li>
						<li class="darkgreen">21.50</li>
						<li class="darkgreen">7.1-9.1</li>
						<li class="darkgreen">15.37</li>
						<li class="darkgreen">7-9.3</li>
						<li></li>
						<li class="red">2.1-4.3</li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li class="darkgreen">4</li>					
					</ul>
					<ul>
						<li class="red">6.10</li>
						<li class="green">79.91</li>
						<li class="green">54-89</li>
						<li class="green">51-91</li>
						<li class="green">10-14</li>
						<li class="green">38-76</li>
						<li class="green">10-14.4</li>
						<li></li>
						<li class="darkgreen">4.4-4.4.4</li>
						<li class="red">12-12.1</li>
						<li></li>
						<li></li>
						<li></li>
						<li class="green">5-13.0</li>
					</ul>
					<ul>
						<li class="darkgreen">11</li>
						<li class="green">92</li>
						<li class="green">90</li>
						<li class="green">92</li>
						<li class="green">14.1</li>
						<li class="green">77</li>
						<li class="green">14.7</li>
						<li class="red">all</li>
						<li class="green">92</li>
						<li class="green">64</li>
						<li class="green">92</li>
						<li class="green">90</li>
						<li class="green">12.12</li>
						<li class="green">14.0</li>
						<li class="green">10.4</li>
						<li class="darkgreen">7.12</li>
						<li class="darkgreen">2.5</li>
					</ul>
					<ul>
						<li></li>
						<li></li>
						<li class="green">91-92</li>
						<li class="green">93-95</li>
						<li class="green">15-TP</li>
					</ul>
				</div>
				<div class="lower_tab_section">
					<ul>
						<li>Notes</li>
						<li>Test on a real browser</li>
						<li>Sub features</li>
						<li>Known issues (0)</li>
						<li>Resources (4)</li>
						<li>Feedback</li>
					</ul>
				</div>
				<div class="es6_section">
					<p>As ES6 refers to huge specification and browsers have various levels of support, "Supported" means at least 95% of the spec is supported. "Partial Support" refers to  at least 10% of the spec being supported. For full details see the <a href="javascript:void(0)">Kangax ES6 support table.</a></p>
					<ol>
						<li>Notable partial support in lE11 includes (at least some) support for <span>const</span>, <span>let</span>, block-level functiondeclaration, typed arrays, <span>Map</span>, <span>Set</span> and <span>WeakMap</span>.</li>
						<li>Does not support <a href="javascript:void(0)">tall call optimazation</a></li>
						<li>Only has partial Symbol support and partial support for <span>RegExp.prototype</span> properties></li>
					</ol>
				</div>							
			</section>
			
			<footer>
				<div class="caniuse_section">
					<h4>Can I use...</h4>
					<p>Browser support tables for modern web technologies</p>
					<p>Created & maintained by <a href="javascript:void(0)">@Fyrd</a>, design by <a href="javascript:void(0)">@Lensco</a>.</p>
					<p>Support data contributions by the Github <a href="javascript:void(0)">community</a>.</p>
					<p>Usage share statistics by <a href="javascript:void(0)">StatCounter GlobalStats</a> for June, 2021</p>
					<p>Location detection provided by <a href="javascript:void(0)">ipinfo.io</a>.</p>
					<p>Browser testing done via <a href="javascript:void(0)"><img src="../assets/images/browserstack.svg" alt="browser"></a></p>
				</div>
				<div class="support_section">
					<h4>Support via Patron</h4>
					<p>Become a caniuse Patron to support the site for only $1/month</p>
					<button type="button">Become a Patron</button>
					<p>or <a href="javascript:void(0)">Log in</a></p>
				</div>
				<div class="links_section">
					<h4>Site links</h4>
					<ul>
						<li><a href="javascript:void(0)">Home</a></li>
						<li><a href="javascript:void(0)">Feature index</a></li>
						<li><a href="javascript:void(0)">Browser usage table</a></li>
						<li><a href="javascript:void(0)">Feature suggestion list</a></li>
						<li><a href="javascript:void(0)">Caniuse data on Github</a></li>
					</ul>
				</div>
				<div class="legend_section">
					<h4>Legend</h4>
					<ul>
						<li>= Supported</li>
						<li>= Not supported</li>
						<li>= Partial support</li>
						<li>= Support unknown</li>
					</ul>
				</div>
			</footer>			
        </div>
    </body>
</html>