<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Flexy Frog</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/styles.css" />
	</head>
	<body>
        <div id="wrapper">		
			<h1>Catch the fly as you can!</h1>
			<p id="desktop">You're ranging <span>greater than or equal to 1024px</span></p>
			<p id="tablet">You're ranging <span>between 481 to 1023px</span></p>
			<p id="phone">You're ranging <span>less than or equal to 480px</span></p>
			<div class="flexy_frog">
				<img id="frog" src="../assets/images/frog.png" alt="frog">
				<div id="tongue"></div>
				<img id="mosquito" src="../assets/images/mosquito.png" alt="mosquito">
			</div>
		</div>
	</body>
</html>
        