#wrapper {
  background-color: #d9e2ec;
  height: 1050px;
  margin: auto;
  width: 820px;
}
#wrapper header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 240px;
  justify-content: center;
  width: 815px;
}
#wrapper header img {
  height: 200px;
  width: 250px;
}
#wrapper header #name {
  border-bottom: 5px solid #2d4767;
  display: flex;
  flex-direction: column;
  height: 130px;
  margin: -50px 0px 0px 20px;
}
#wrapper header #name h1 {
  color: #2d4767;
  font-size: 80px;
  margin: 0px;
}
#wrapper header #name p {
  font-size: 20px;
  margin: 0px;
}
#wrapper header #contact {
  display: block;
  letter-spacing: 1px;
  margin: -100px 0px 0px 240px;
}
#wrapper section {
  background-color: #e5e8ed;
  margin: auto;
  padding: 10px;
  width: 755px;
}
#wrapper section h3 {
  text-align: center;
}
#wrapper section p {
  margin: 10px;
}
#wrapper #languages {
  height: 355px;
  margin: 20px 0px 20px 25px;
  text-align: center;
  vertical-align: top;
  width: 350px;
}
#wrapper #languages img {
  display: inline;
  height: 50px;
  margin: 5px;
  text-align: center;
  width: 50px;
}
#wrapper #languages,
#wrapper #experience {
  display: inline-block;
  padding: 10px;
}
#wrapper #experience {
  background-color: #ebebeb;
  margin: 20px 0px 20px 25px;
  width: 350px;
}
#wrapper footer {
  text-align: center;
}
#wrapper footer img {
  height: 20px;
  width: 20px;
}
#wrapper footer a {
  color: black;
}
@media only screen and (max-width: 480px) {
  #wrapper {
    width: 100%;
  }
  #wrapper section {
    width: 86%;
    margin-top: 10px;
  }
}
/*for mobile*/
@media only screen and (max-width: 480px) {
  #wrapper header {
    width: 100%;
  }
  #wrapper header #name {
    border-bottom: none;
    margin-top: -45px;
    text-align: center;
    width: 91%;
  }
  #wrapper header #name h1 {
    font-size: 25px;
    margin-top: 47px;
  }
  #wrapper header #name p {
    font-size: 15px;
  }
  #wrapper header #contact {
    display: none;
  }
  #wrapper #languages {
    display: none;
  }
  #wrapper #experience {
    width: 83%;
  }
}
/*for tablet*/
@media only screen and (min-width: 481px) and (max-width: 899px) {
  #wrapper header {
    width: 100%;
  }
  #wrapper header #name h1 {
    font-size: 50px;
    margin-top: 47px;
  }
  #wrapper header #name p {
    font-size: 15px;
  }
  #wrapper header #contact {
    width: 35%;
  }
  #wrapper {
    width: 100%;
  }
  #wrapper section {
    margin-top: 10px;
    width: 86%;
  }
  #wrapper #experience {
    width: 43%;
  }
}
@media only screen and (max-width: 800px) {
  #wrapper section {
    margin-top: 50px;
    width: 86%;
  }
  #wrapper #languages {
    display: none;
  }
  #wrapper #experience {
    width: 87%;
  }
  #wrapper header #contact {
    display: none;
  }
  #wrapper header #name {
    border-bottom: none;
  }
}
