#wrapper{
    background-color: #3d3525;
    height: 1050px;
    margin: auto;
    width: 1400px;
    header{   
        display: inline-block;    
        width: 1400px;
        ul li, span, a{
            display: inline-block;  
        }
        #home, li, #right_nav li{
            :hover{
                background: orange;
            }
            a#feature{
                :hover{
                    color: orange; 
                }
            }
        }
    }          
    #search_container{
        background-color: #c75000;
        height: 90px;
        margin: auto;
        text-align: center;
        width: 1230px;
        h1, form, span{
            font-size: 35px;
            color: white;
            display: inline-block;
            input{
                border: none;
                border-bottom: 1px solid white;
                background-color: transparent;
                text-align: center;
                width: 260px;
            }
        }
    }
    section{
        background-color: #f2e8d5;
        height: 600px;
        margin: auto;
        margin-top: 10px;
        width: 1230px;
        #hashtag, #star{
            background-color: #c75000;
            color: white;
            position: relative;
            #hashtag, #star{         
                position: absolute;
                text-align: center;
                width: 25px;     
            }
        }
            #hashtag{
                font-size: 25px;
                left: -30px;        
                top: 30px;               
            }
            #star{        
                font-size: 15px;
                left: -57px;
                padding: 3px; 
                top: 65px;
            }
        header{
            display: inline-block;
            width: 1230px;
            h2, p{
                display: block;
                width: 420px;
            }
        }
        .table{
            margin: 10px;
            ul{
                margin: 5px;
                margin-left: 0px;
                padding: 0px;  
                li{
                    display: inline-block;
                    padding: 5px;
                    font-size: 13px;
                    text-align: center;        
                    width: 57px;
                    &#if, &#edge{
                        border-bottom: 4px solid #375884;
                    }
                    &#firefox, &#firefox_for_android{
                        border-bottom: 4px solid #a36222;
                    }
                    &#chrome, &#chrome_for_android{
                        border-bottom: 4px solid #3e77bb;
                    }
                    &#safari{
                        border-bottom: 4px solid #666666;
                    }
                    &#opera{
                        border-bottom: 4px solid #7b191a;
                    }
                    &#safari_on_ios{
                        border-bottom: 4px solid #29292a;
                    }
                    &#android_browser{
                        border-bottom: 4px solid #9eb569;
                    }
                    &#opera_mini, &#opera_mobile{
                        border-bottom: 4px solid #b2605a;
                    }
                    &#uc_browser, &#qq_browser, &#baidu_browser{
                        border-bottom: 4px solid #000000;
                    }
                    &#samsung_internet{
                        border-bottom: 4px solid #924bff;
                    }
                    &#kaios_browser{
                        border-bottom: 4px solid #6800b3;
                    }
                    &.darkgreen{
                        background-color: #746c00;
                    }
                    &.red{
                        background-color: #b43b2b;
                    }
                    &.green{
                        background-color: #2a8436;
                    } 
                }
            }           
        }
        .lower_tab_section{
            margin: 0px;
            ul{
                margin: 0px;        
                li{
                    padding: 5px;
                    background-color: #e4d7bb;
                    display: inline-block;            
                    &:nth-child(1){
                        background-color: #e0c89b;
                    } 
                }
            }
        }
        .es6{
            background-color: #e0c89b;
            padding: 10px;
            p{
                font-size: 15px;
                margin-left: 10px;
                padding: 5px;
            }
            span{
                background-color: #f1e5ce;
            }
        }   
    }    
    footer{
        border-top: 2px solid gray;
        margin-left: 90px;
        margin-top: 50px;
        width: 1230px;
        h4{
            color: white;
        }
        .caniuse_section, .support_section, .links_section
            a{
                color: #a46316;
                text-decoration: none;
            }
            a:hover{
                color: rgb(233, 233, 3);
            }
        .caniuse_section{
            color: #e0c89b;
            display: inline-block;
            width: 465px;
            img{
                width: 85px;
            }
            p{
                margin: 5px;
            }
        }
        .support_section{
            display: inline-block;
            margin-left: 60px;
            vertical-align: top;
            width: 200px;    
            p{
                color: #e0c89b ;
            }
            button{
                background-color: #f96854;
                padding: 5px;
            }
        }        
        .links_section{
            display: inline-block;
            margin-left: 60px;
            vertical-align: top;
            ul{
                padding: 0px;
                li{
                    display: block;
                }
            }
        }
        .legend_section{
            display: inline-block;
            margin-left: 60px;
            vertical-align: top;
            width: 220px;
            li{
                color: #e0c89b;
                display: block;
            }
        }
    }
}
