*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    background-color: #FFD9B7;
    margin: 0px auto;
    padding: 30px;
    width: 940px;
}
#logo, #navigation, #about, #advertisement, .sponsors{
    display: inline-block;
}
#logo{
    background-color: #B97A57;
    margin-right: 15px;
    min-height: 130px;
    width: 260px;
}
#navigation{
    background-color: #FF7F27;
    min-height: 130px;
    width: 655px;
}
#main_content{
    background-color: #880015;
    margin-top: 20px;
    min-height: 250px;
    padding: 30px;
    width: 875px;
}
#about{
    background-color: #FFAEC9;    
    margin-right: 50px;
    min-height: 250px;
    width: 650px;
}
#advertisement{
    background-color: #C8BFE7;    
    min-height: 200px;
    vertical-align: top;   
    width: 155px;
}
.sponsors{
    background-color: #FFFF88;
    margin-top: 10px;
    min-height: 65px;
    width: 250px;
}
@media only screen and (min-width: 900px){
    #wrapper{
        width: 100%;
    }
    #logo{
        width: 30%;
    }
    #navigation{
        width: 64.5%;
    }
    #about{
        width: 74%;
    }
    #main_content{
        width: 92%;
    }
    .sponsors{
        width: 32%;
    }
}
@media only screen and (min-width: 481px) and (max-width: 899px){
    #wrapper{
        width: 100%;
    }
    #logo{
        width: 30%;
    }
    #navigation{
        width: 65%;
    }
    #about{
        width: 100%;
    }
    #main_content{
        width: 90%;
    }
    .sponsors{
        width: 48.4%;
    }
    #advertisement{
        display: none;
    }
}
@media only screen and (max-width: 480px){
    #logo{
        width: 100%;
    }
    #navigation{
        width: 100%;
    }
    #about{
        width: 100%;
    }
    #main_content{
        width: 93.6%;
    }
    .sponsors{
        width: 100%;
    }
    #advertisement{
        display: none;
    }
}