<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <title>Profile card</title>
</head>
    <body>
        <div id="wrapper">
            <div id= "card">
                <div id="pattern_card"></div>
                <img src="../assets/images/image-victor.jpg" alt="Victor Crest profile picture">                
                <h1>Victor Crest <span id="age">26</span></h1>
                <h3>London</h3>                  
                <ul>
                    <li>
                        <span>80K</span>
                        <h5>Followers</h5>
                    </li>                   
                    <li>
                        <span>803K</span>
                        <h5>Likes</h5>
                    </li>                    
                    <li>
                        <span>1.4K</span>
                        <h5>Photos</h5>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
