<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Resume</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	</head>
	<body>
        <div id="wrapper">
            <header>
                <img src="../assets/images/photo_of_me.jpg" alt="Ivana Funcion">
                <div id="name">
                    <h1>Ivana Funcion</h1>
                    <p>ASPIRING FULL-STACK WEB DEVELOPER</p>                    
                </div>
                <p id="contact">(04) 298 1092 3094 . +76 209 2093 1092 . ifuncion@email.com</p>
            </header>
            <section>
                <h3>GETTING TO KNOW ME A LITTLE MORE...</h3>
                <p>I am aspiring Full Stak Web Developer based in La Union, Philippines. Proficient in both front-end and back-end technology. I also have an adequate knowledge in Automation and Cloud Computing Service. My goal is to have more solid knowledge regarding application development, especially in web application development through employment.</p>
                <p>I am a recent graduate of Village88 Bootcamp located in La Union, Philippines which teaches full stack in 3 months for free. I'm extremely passionate of learning new technologies and am always looking for opportunities to fuher expand my skills and grow as a developer.</p>
            </section>
            <div id="languages">
                <h3>WHAT I LOVE TO USE</h3>
                <div>
                    <img src="../assets/images/php.png" alt="php">
                    <img src="../assets/images/JavaScript.png" alt="javascript">
                    <img src="../assets/images/RUBY.png" alt="ruby">
                    <img src="../assets/images/python.png" alt="python">
                    <img src="../assets/images/HTML.png" alt="html">
                </div>
                <div>
                    <img src="../assets/images/MEAN.png" alt="mean">
                    <img src="../assets/images/codeigniter.png" alt="codeigniter">
                    <img src="../assets/images/c-sharp.png" alt="c#">
                    <img src="../assets/images/django.png" alt="django">
                    <img src="../assets/images/LAMP.png" alt="lamp">
                </div>   
                <div>
                    <img src="../assets/images/jQuery.png" alt="jquery">
                    <img src="../assets/images/ajax.png" alt="ajax">
                    <img src="../assets/images/socket.png" alt="socket">
                    <img src="../assets/images/d3.png" alt="d3">
                    <img src="../assets/images/iOS-Swift.png" alt="swift">
                </div>   
                <div>
                    <img src="../assets/images/bootstrap.png" alt="bootstrap">
                    <img src="../assets/images/materialize.png" alt="materialize">
                    <img src="../assets/images/mongodb.png" alt="mongodb">
                    <img src="../assets/images/mysql.png" alt="mysql">
                    <img src="../assets/images/sqlite.png" alt="sqlite">
                </div>   
            </div>
            <div id="experience">
                <h3>MY PROJECTS</h3>
                <p>ECOMMERCE WEBSITE</p>
                <p>Designed to market various clothing products. Complete in functionalities having customer portal for shopping experience, and admin portal for monitoring purchases.</p>
                <ul>
                    <li>Built using: PHP, Codeigniter,  JQuery, Ajax, MySQL, HTML, CSS, Bootstrap.</li>
                </ul>
                <p>MULTIPLAYER PACMAN</p>
                <p>A childhood game that transformed to be more engaging by making it multiplayer with audio & chat support.</p>
                <ul>
                    <li>Built using: JavaScript, Mongodb, Express, Angular, Node, Socket IO, HTML, CSS, Materialize.</li>
                </ul> 
            </div>
            <footer>
                <img src="../assets/images/github.png" alt="github">
                <a href="#">ivafucion</a>
                <img src="../assets/images/twitter.png" alt="twitter">
                <a href="#">ivatweets</a>
                <img src="../assets/images/linkedin.png" alt="linkedin">
                <a href="#">ivanafuncion</a>
                <img src="../assets/images/codepen.png" alt="codepen">
                <a href="#">ifuncion</a>
            </footer>
        </div>
    </body>
</html>
