.canvas {
    background-color: #2e2e2e;
    height: 630px;;
    margin: auto;
    width: 970px;
}
.topnav, .topnav ul, .topnav li, form, .flow p, .flow ul,
.flow li, .report ul li, .content, .right_nav, .footer ul,
.footer p, .footer li {
    display: inline-block;
}

.nav {
    background-color: #8892bf;
}
    .topnav {
        margin-left: 70px;
        width: 635px;
    }
        .topnav img {
            width: 30px;
        }
        .topnav ul, .topnav li, .flow ul, .content ul, .footer ul {
            padding: 0px;
        }
        .topnav li {    
            margin: 5px;
        }
        form input {
            width: 235px;;
        }
.flow {
    font-size: 9px;
}
    .flow p {
        color: white;
        margin-left: 70px;
        width: 700px;
    }
    .flow li {
        margin-left: 10px;
    }
.language {
    text-align: right;
}
    .report ul li {
        margin: 2px;
        font-size: 12px;
    }
    .report a, .topnav a, .footer a, .flow a {
        text-decoration: none;
    }
    .topnav a, .flow a, .right_nav, .footer a, .footer p  {
        color: lightgrey;
    }
.content {
    background-color: #f2f2f2;
    margin-left: 50px;
    padding: 20px;
    width: 640px;
}
    .content ul {
        margin-left: 17px;
    }
    .content a {
        color: blue;
    }
    #page {
        margin-top: -25px;
    }
    .content ul {     
        margin-top: 0px;
    }
.right_nav {
    font-size: 12px;
    margin-left: 10px;
    padding: 10px;
    vertical-align: top;
    width: 190px;
}
    .right_nav p, .right_nav h4 {
        border-bottom: 1px solid lightgrey;
        margin: 5px;
    }
.add {
    position: relative;
    top: -40px;
    left: 558px;
}
    .add img {
        width: 12px;
    }
.footer {
    margin-left: 65px;
}
    .footer ul, .footer p, .footer li {
        font-size: 12px;
    }
    .footer a, .footer p {
        padding: 5px;
    }
    h3, h4 {
        border-bottom: 1px solid black;
    }